
.hero {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #fff;
}
.hero__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hero__left-title {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
}

.hero__left-title {
    max-width: 506px;
    height: 105px;
    color: var(--Dark-Color, #21243d);
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}
.hero__left-text {
    max-width: 497px;
    height: 66px;
    margin-top: 40px;
    color: var(--Dark-Color, #21243d);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.hero__right {
    max-width: 243px;
    width: 100%;
    height: 243px;
    padding: 5px;
}
.hero__btn {
    max-width: 248px;
    height: 47px;
    margin-top: 38px;
    padding: 15px 20px;
    border-radius: 2px;
    background: #ff6464;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease all;
}
.hero__btn:hover {
    background: #f13636;
    color: #edf7fa;
}
