.posts {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    background: #edf7fa;
}
.posts__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.posts__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.posts__title {
    color: var(--Dark-Color, #21243d);
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
}
.posts__link {
    color: #00a8cc;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.posts__card {
    max-width: 418px;
    height: 295px;
    padding: 23px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.posts__card h3 {
    max-width: 374px;
    height: 85px;
    color: #21243d;
    font-size: 26px;
    font-weight: 700;
}
.date {
    max-width: 374px;
    height: 34px;
    color: #21243d;
    font-size: 18px;
    font-weight: 400;
}
.post__text {
    max-width: 268px;
    height: 117px;
    color: #21243d;
    font-size: 16px;
    font-weight: 400;
}
