.feature {
    padding-bottom: 80px;
    padding-top: 15px;
}
.feature h4 {
    color: #21243d;
    font-size: 22px;
    margin-bottom: 22px;
    font-weight: 400;
    line-height: 60px;
}
.featured-works__item {
    max-width: 858px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    display: flex;
    gap: 18px;
    border-bottom: 1px solid gray;
}
.featured-works__dashboard h3 {
    max-width: 395px;
    height: 44px;
    color: #21243d;
    font-size: 30px;
    font-weight: 700;
}
.dash__desc {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 10px 0;
    padding-bottom: 18px;
    color: var(--Light, #8695a4);
    font-size: 20px;
    font-weight: 400;
}
.featured-works__dashboard .span {
    max-width: 62px;
    height: 25px;
    padding: 5px 15px;
    border-radius: 16px;
    background: #142850;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.featured-works__dashboard p {
    margin-top: 15px;
    max-width: 424px;
    color: #8695a4;
    font-size: 16px;
    font-weight: 400;
}
.feature {
    padding-bottom: 80px;
    padding-top: 15px;
}
.featured-works h4 {
    color: #21243d;
    font-size: 22px;
    margin-bottom: 22px;
    font-weight: 400;
    line-height: 60px;
}
.featured-works__desc {
    display: flex;
    align-items: center;
    gap: 18px;
}
